// * {
//     outline: 1px solid pink;
// }

.company-top {
    background-image: url("https://images.unsplash.com/photo-1515511856280-7b23f68d2996?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
    background-size: cover;
    background-position: top center;
    padding-top: 250px;
}

.input-search {
    outline: none;
    -webkit-appearance: none;
}

.company-item {
    &:hover {
        img {
            transform: scale(1.05);
        }

        .card-title {
            background-color: $primary;
        }
    }

    .card-title {
        display: inline-block;
        transition: 0.3s;
    }

    .card-img {
        width: 100%;
        height: 350px;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
}