.works-top {
    background-image: url("https://images.unsplash.com/photo-1646617747040-b94e568e1c25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1093&q=80");
    background-size: cover;
    background-position: bottom center;
    padding-top: 120px;
}

.work-search {
    font-size: 16px;
    color: $primary;
}

.work-input {
    outline: none;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #eee;
}

::-moz-placeholder {
    color: #eee;
}

:-moz-placeholder {
    color: #eee;
}

.target {
    opacity: 0;
}

.work-item {
    &:hover {
        img {
            transform: scale(1.05);
        }

        .card-title {
            background-color: $primary;
        }
    }

    .card-title {
        display: inline-block;
        transition: 0.3s;
    }

    .card-img {
        width: 100%;
        height: 350px;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
}